image:
  repository: ghcr.io/lilianasacorreia/hapi-fhir
  tag: "0.1.4"
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 8080

resources:
  requests:
    memory: "512Mi"
    cpu: "500m"
  limits:
    memory: "1Gi"
    cpu: "1000m"

env:
  - name: SPRING_DATASOURCE_URL
    value: "jdbc:postgresql://hapi-postgres:5432/hapi"

  - name: SPRING_DATASOURCE_USERNAME
    value: "admin"

  - name: SPRING_DATASOURCE_PASSWORD
    value: "admin"

  - name: SPRING_DATASOURCE_DRIVER_CLASS_NAME
    value: "org.postgresql.Driver"

  - name: SPRING_JPA_DATABASE_PLATFORM
    value: "org.hibernate.dialect.PostgreSQLDialect"

ingress:
  enabled: false
  className: ""
  annotations: {}
  hosts: []
  tls: []

config:
  enabled: false
  data: {}