image:
  repository: ghcr.io/lilianasacorreia/hapi-fhir
  tag: "0.1.0"
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 8080

resources:
  requests:
    memory: "1Gi"
    cpu: "250m"
  limits:
    memory: "2Gi"
    cpu: "1000m"

env:
  - name: SPRING_DATASOURCE_URL
    value: "jdbc:postgresql://hapi-postgres:5432/hapi"
  - name: SPRING_DATASOURCE_USERNAME
    value: "admin"
  - name: SPRING_DATASOURCE_PASSWORD
    value: "admin"

ingress:
  enabled: false
  className: ""
  annotations: {}
  hosts: []
  tls: []

config:
  enabled: false
  data: {}